*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
    --color1:#ED4D1B;
    --color2:#FF9A3C;


}
body{
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E5 100%);
}
header{
    padding: 2rem;
    align-items: center;
    margin: auto;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    margin-left: 1rem;
    margin-right: 1rem;   
}
header nav{
    display: grid   ;
    grid-template-columns: 1fr 1fr;
    
}
header nav a{
    color: #000;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 20px;
}
header nav a:nth-child(2n-1){
    text-align: right;
}
header img{
    display: block;
    margin: auto;
    width: 106px;
}
section#inicio{
    border-bottom: 1px solid #000;
    
    
}

main section#inicio img{
    display: block;
    max-width: 100%;
}

section#inicio a.buttom{
    position: relative;
    margin-bottom:12rem;
    
}
section#inicio a.buttom::after{
    content: '';
    position: absolute;
    background: url("imagens/arrow-curve.svg");
    width: 110px;
    height: 48px;
    top: 5rem;
    right: -2rem;
    
}
section#inicio h1 span{
    position: relative;
}
section#inicio h1 span::after{
    content: '';
    background-image: url("imagens/three-dashes.svg");
    position: absolute;
    width: 40px;
    height: 36px;
    top:-10px;
    

}
main{
    margin-left: 1rem;
    margin-right: 1rem;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

section#inicio p{
    font-size: 1.25rem;
    color: black;
    font-weight: 500;
    padding: 1rem;

}
section#cursos{
    
    margin-top: -12rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
   
    
}

section#cursos > div {
    border: 2px solid #000;
    background:var(--color1);
    box-shadow: 4px 4px 0px 0px #000;
    margin-top: 5rem;
    gap: 1rem;
    align-items: start;
    margin-bottom: 1px;
    padding: 1rem;
    
}

section#cursos div.cursosDivPares{
    background-color: var(--color2);
}
a.buttom{
    display: block;
    margin-top: 1rem;
    width: 200px;
    height: 48px;
    background-color:var(--color1);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    box-shadow: 4px 4px 0px 0px #1E1E1E;
    border: 2px solid #000;
    width: 200px;
    height: 48px;
    margin-left: 1rem;
    margin-top: 1rem;

}
h1{
    color: black;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 105%;
    padding: 1rem;
    margin: auto;
    
} 
footer{
    padding: 2rem;
    
}
footer p {
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
footer nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
footer nav a {
    color: #000;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 20px;
}
footer input{
    display: block;
    border: 2px solid #000;
    background: #FFF;
    box-shadow: 4px 4px 0px 0px #000;
    width: 265px;
    height: 48px;
    margin-top: 0.5rem;
    
}
footer label{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0.6rem;
}


h1#h1domain{
    font-size: 1.5rem;
}   
span{
    color: var(--color1);
}
img.icone{
    width: 48px;
}
img.icone2{
    display: block;
    width: 48px;
    margin:3rem 0 0 auto;
    
    


}
@media screen and (min-width:768px) {
    header nav {
        display: block;
        text-align: center;
        margin-bottom: 1rem;
    }
    header div a.buttom{
        margin: auto;
    }
    section#cursos{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;

    }
    section#cursos > div{
        width: 272px;
        height: 306px;     
    }
    section#cursos > div:nth-child(2n){
        margin-top: 3rem;
    }
    
    div#variosoutros{
        text-align: center;
        margin-bottom: 5rem;
    }
    div#variosoutros a{
        margin: auto;   
    }
    footer a.buttom{
        margin-left: 0px;
    }
    h1#h1domain{
        font-size: 2.5rem;
    }
}
@media  screen and (min-width:1150px) {
    header > div{
        display: flex;
    }
    div.container{
        display: flex;
        max-width: 72rem;
        align-items: center;
        margin: 0 auto;
    }
    div.container.row-reverse{
        flex-direction: row-reverse;
    }
    section#inicio img{
        margin-bottom: 7rem;
    }
    section#cursos{
        margin-left: 9rem;

    }
    footer{
        display: flex;
        justify-content: space-between;
        max-width: 72rem;
        align-items: center;
        margin: 0 auto;
    }
    footer div.pdivfooter{
        max-width: 272px;
    }
    footer input {
        width: 560px;
    }
    footer a.buttom{
        margin-left: 0px;
    }
    h1#h1domain{
        font-size: 3rem;
    }

    
}